{% extends 'base.html' %}

{% block main %}
<main class="container">
    <h1>Viewing all{% if not viewing_user %} published{% endif %} timelines{% if viewing_user %} for <em>{{ viewing_user }}</em>{% endif %}</h1>
    {% for timeline in timelines %}
    <div class="card">
        <header><h4><a href="{% url 'view_timeline' timeline.id %}">{{ timeline.name }}</a></h4></header>
        {% if not viewing_user %}<p>By <em>{{ timeline.user.username }}</em></p>{% endif %}
        {% if timeline.description %}<p>{{ timeline.description }}</p>{% endif %}
    </div>
    {% endfor %}
</main>
{% endblock %}