{% extends "base.html" %}

{% block head %}
<style>
    .tooltip {
        background-color: white;
        border: solid;
        border-width: 1px;
        border-radius: 5px;
        padding: 10px;
    }

    #canvas {
        display: block;
        margin: 10vh;
        text-align: center;
    }
</style>
{% endblock %}

{% block main %}
<main class="container">
    <h1>{{ timeline.name }}</h1>
</main>
<div id="canvas"></div>
{% endblock %}

{% block script %}
<script type="module">
    import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

    

    

    async function main() {


        function linearize(data) {
            let aligned_groups = {};
            for (let d of data) {
                if (d.group) {
                    if (d.group.align) {
                        if (d.group.id in aligned_groups) {
                            d.line = aligned_groups[d.group.id];
                        } else {
                            aligned_groups[d.group.id] = d.id;
                            d.line = d.id;
                        }
                    } else {
                        d.line = d.id;
                    }
                } else {
                    d.line = d.id;
                }
            }
            return data;
        }

        function zoom(svg) {
            const extent = [[margin.left, margin.top], [width - margin.right, height - margin.top]];
            svg.call(d3.zoom()
                .scaleExtent([1, 8])
                .translateExtent(extent)
                .extent(extent)
                .on("zoom", zoomed));

            function zoomed(event) {
                x.range([width - margin.right, margin.left].map(d => event.transform.applyX(d)));
                svg.selectAll("rect").attr("x", d => x(d.start_ma)).attr("width", d => x(d.end_ma) - x(d.start_ma));
                svg.selectAll("text").attr("x", d => x(d.start_ma)).text(d => x(d.end_ma) - x(d.start_ma) > SHOW_TEXT_WIDTH ? d.name : "");
                axis.call(d3.axisBottom(x));
            }
        }

        const SHOW_TEXT_WIDTH = 20;
        const BAR_HEIGHT = 20;
        const TEXT_OFFSET = 5;
        const width = 1800;
        const height = 200;
        const margin = {
            top: 20,
            bottom: 20,
            left: 20,
            right: 20
        };
        const xPadding = 50; // In Myr

        const svg = d3.select("#canvas").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .call(zoom)
            ;
                
        let data = await d3.json("../../api/geological_event?timeline={{ timeline.id }}");
        data = linearize(data);
        
        const x = d3.scaleLinear()
            .domain([d3.min(data, d => d.end_ma - d.end_err_lb_ma - xPadding), d3.max(data, d => d.start_ma + d.start_err_ub_ma + xPadding)])
            .range([width, 0])
            ;
        
        const y = d3.scaleBand(d3.map(data, d => d.line), [height, 0]).padding(0.5);
        
        const g = svg.append("g")
            .attr("transform", `translate(${margin.left}, ${margin.top})`)
            ;
            
        const axis = g.append("g").attr("transform", `translate(0, ${height})`).call(d3.axisBottom(x));

        const tooltip = d3.select("#canvas")
            .append("div")
            .style("opacity", 0)
            .attr("class", "tooltip")

        g.selectAll(".events")
            .data(data, d => d.id)
            .join(
                enter => {
                    let event = enter.append("g");
                    event.append("rect")
                    .attr("x", d => x(d.start_ma))
                        .attr("y", d => y(d.line))
                        .attr("width", d => x(d.end_ma) - x(d.start_ma))
                        .attr("height", BAR_HEIGHT)
                        .attr("fill", d => d.group ? d.group.colour : "#969696")
                        .attr("rx", "5px")
                        .attr("ry", "5px")
                        .on("mouseover", (e, data) => {
                            g.selectAll("rect").filter((d) => d.id === data.id)
                            .style("stroke", "black")
                                .style("stroke-width", 3)
                                ;
                            g.selectAll("text").filter((d) => d.id === data.id)
                                .style("font-weight", "bold")
                                ;
                            tooltip.style("opacity", 1);
                        })
                        .on("mouseleave", (e, data) => {
                            g.selectAll("rect").filter((d) => d.id === data.id)
                                .style("stroke", "none")
                                ;
                            g.selectAll("text").filter((d) => d.id === data.id)
                                .style("font-weight", "normal")
                                ;
                            tooltip.transition()
                                .duration(200)
                                .style("opacity", 0)
                                ;
                        })
                        .on("mousemove", (e, data) => {
                            tooltip.html(`<b>${data.name}</b> (${data.start_ma} Ma - ${data.end_ma} Ma)`)
                                .style("left", (event.x)/2)
                                .style("right", (event.y)/2)
                                ;
                            })
                            ;
                    event.append("text")
                        .text(d => x(d.end_ma) - x(d.start_ma) > SHOW_TEXT_WIDTH ? d.name : "")
                        .attr("x", d => x(d.start_ma))
                        .attr("y", d => y(d.line) - TEXT_OFFSET)
                        .style("font-size", "8pt")
                }
            );    
    }

    main();
</script>
{% endblock %}