{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/chota@latest">
        <link rel="icon" href="{% static 'main/favicon.svg' %}">
        <title>Timeline &mdash; {% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="nav">
            <div class="nav-right">
                {% if user.is_authenticated %}
                <a class="button outline" href="{% url 'logout' %}"><em>{{ user.username }}</em></a>
                {% else %}
                <a class="button outline" href="{% url 'login' %}">Log in</a>
                {% endif %}
            </div>
        </nav>
        {% block main %}
        {% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>